@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Ubuntu+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100vh;
}

html {
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
}

input:focus,
button:focus {
  outline: none;
}

input:focus {
  border: 1px solid #30293f;
}

label {
  color: #a0a0a0;
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 1rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}
